<div class="row">
  <div class="rounded p-1 w-100">
    <%= simple_form_for([@project, @invoice]) do |f| %>
      <%= f.input :invoice_number %>
      <%= f.input :billing_amount %>
      <%= f.input :payment_deadline %>
      <%= f.submit class: 'btn btn-info' %>
    <% end %>
  </div>
</div>
