
<div class="pdf-container">
        <%= wicked_pdf_image_tag 'logogrey.png', id: "pdf-logo", width: 500, height: 124%>
  <h1 class= "pdf-text">Invoice</h1>
    <table class ="pdf-top-container" >
    <tbody>
      <td class= "top">
        <p><span class="label">Client First Name: </span> <span class="value"><%= @client.first_name  %></span></p>
        <p><span class="label">Client Last Name: </span> <span class="value"><%= @client.last_name  %></span></p>
        <p><span class="label">Client Email: </span> <span class="value"><%= @client.email %></span></p>
        <p><span class="label">Client: </span> <span class="value"><%= @client.billing_address %></span></p>
      </td>
      <td class="top1">
        <p><span class="label">Invoice Number:</span> <span class="value"><%= @project.id %></span></p>
        <p><span class="label">Payment Deadline: </span> <span class="value"><%= @invoice.payment_deadline.strftime("%d %B %Y") %></span></p>
        <p><span class="label">User First Name:</span> <span class="value"><%= @user.first_name %></span></p>
        <p><span class="label">User Last Name:</span> <span class="value"><%= @user.last_name %></span></p>
      </td>
      </tbody>
   </table>
    <table class="bottom-table">
      <thead>
        <tr>
          <div class ="header">
            <th>
              <p><span class="label">Project Name </span></p>
            </th>
            <th>
              <p><span class="label">Task </span></p>
            </th>
            <th>
              <p><span class="label">Task Description </span></p>
            </th>
            <th>
              <p><span class="label">Time Counter  </span></p>
            </th>
            <th>
              <p><span class="label">Billing Amount  €</span></p>
            </th>
          </div>
        </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td>
         <p><span class="value"><%= @project.name ? @project.name : "" %></span></p>
          </td>
          <td>
            <p><span class="value"><%= task.title %></span></p>
          </td>
          <td>
            <p><span class="value"><%= task.description %></span></p>
          </td>
          <td>
            <p><span class="value"><%= task.time_log ? Time.at(task.time_log/1000).utc.strftime("%H:%M:%S") : "00:00:00" %></p>
          </td>
          <td>
            <p><span class="value"><%= task.amount_to_bill ? task.amount_to_bill.round(2) : "0.00" %></p>
          </td>
        </tr>
      <% end %>
        <tr>
          <td colspan="3" class="grand total"></td>
          <td colspan="1" class="grand total">Total Billing Amount</td>
          <td colspan="1" class="grand total"> €<%= @invoice.total_billing_amount ? @invoice.total_billing_amount.round(2) : "0" %></td>
        </tr>
    </tbody>
  </table>
</div>
