<p>Invoice Number:  <%= @invoice.invoice_number %></p>
<p>Billing Amount: <%= @invoice.billing_amount %></p>
<p>Payment Deadline: <%= @invoice.payment_deadline %></p>

<p>Project Name: <%= @project.name  %></p>
<p>Project Deadline: <%= @project.deadline %></p>
<p>Time Counter: <%= @project.time_counter %></p>

<p>Client First Name: <%= @client.first_name  %></p>
<p>Client Last Name: <%= @client.last_name  %></p>
<p>Client Email: <%= @client.email %></p>
<p>Client: <%= @client.billing_address %></p>

<p>Tasks Title <%= @tasks.first.title %></p>
<p>Tasks Description <%= @tasks.first.description %></p>

<p>User First Name:<%= @user.first_name %></p>
<p>User Last Name:<%= @user.last_name %></p>
