<p>Invoice Number:  <%= @project.id %></p>
<p>Billing Amount: €<%= @invoice.billing_amount ? @invoice.billing_amount.round(2) : "0" %></p>
<p>Payment Deadline: <%= @invoice.payment_deadline.strftime("%d %B %Y") %></p>

<p>Project Name: <%= @project.name ? @project.name : "" %></p>
<p>Project Deadline: <%= @project.deadline ? @project.deadline.strftime("%d %B %Y") : "" %></p>
<p>Time Counter: <%= @total_time_on_invoice ? Time.at(@total_time_on_invoice/1000).utc.strftime("%H:%M:%S") : "00:00:00" %></p>

<p>Client First Name: <%= @client.first_name  %></p>
<p>Client Last Name: <%= @client.last_name  %></p>
<p>Client Email: <%= @client.email %></p>
<p>Client: <%= @client.billing_address %></p>

<p>Tasks Title <%= @tasks.first ? @tasks.first.title : "No Tasks" %></p>
<p>Tasks Description <%= @tasks.first ? @tasks.first.description : "No Tasks" %></p>

<p>User First Name:<%= @user.first_name %></p>
<p>User Last Name:<%= @user.last_name %></p>
