<div class="ms-5 mb-5">
  <a href="/projects/<%= @task.project_id %>"> <- Back to Project</a>

  <div data-controller="checkbox"
  data-checkbox-task-completed-value="<%= @task.completed %>"
  data-checkbox-task-id-value="<%= @task.id %>">
  <div class="form-check mt-3 text-light p-0">
    <% if @task.completed %>
      <input id="checkbox-completed" type="checkbox" checked="true" class="light_toggle" data-checkbox-target="checkbox" data-action="change->checkbox#light_toggle">
    <% else %>
      <input id="checkbox-completed" type="checkbox" class="light_toggle" data-checkbox-target="checkbox" data-action="change->checkbox#light_toggle">
    <% end %>
    <label for="checkbox-completed">Completed</label>
  </div>
</div>

<div class="container-fluid d-flex justify-content-center">

  <div data-controller="tracker" data-tracker-task-id-value="<%= @task.id %>"
    data-tracker-time-log-value="<%= @task.time_log %>"
    data-tracker-authenticity-token-value="<%= form_authenticity_token %>"
    data-tracker-amount-to-bill-value="<%= @task.amount_to_bill %>"
    data-tracker-billing-rate-value="<%= @task.billing_rate %>"
  >

    <div class="row my-5 ms-3">

      <div class="col-sm-4 text-left mb-3">
        <h2><%= @task.title.capitalize %></h2>
        <%# <h2>Description: <%= @task.description</h2> %>

        <h3>Billing Rate: €<%= @task.billing_rate.round(0) %> per hour</h3>
        <h3 class="d-none" data-tracker-target="billing">Amount to Bill: €<%= @task.amount_to_bill %></h3>
        <h3 data-tracker-target="billingButton" class="text-primary">Amount to Bill: €<%= @task.amount_to_bill %></h3>

        </br>
        </br>
        <p style="font-size: 20px;" class="text-danger">Time Tracker Tip:</p>
        <p style="font-size: 20px;">
          <%= @task.hint %>
        </p>
      </div>

      <div class="col-sm-8 text-center">
        <button class="btn btn-outline-primary btn-lg" id="toggle" data-action="click->tracker#toggle" data-tracker-target="button">
          START TRACKING YOUR TIME
        </button>

        </br>
        </br>
          <div id="taskwatch" class="text-center">
            <%# <h3 id="stopWatchIcon"><i class="fas fa-stopwatch fa-3x"></i></h3> %>
            <div>
              <p id="timer" data-tracker-target="time" class="display-1" style="font-size: 200px;">
                <%= @task.time_log %>
              </p>
              <div id="controls">
                <%# <button class="btn btn-light" id="toggle" data-action="click->tracker#toggle" data-tracker-target="button">
                  START
                </button> %>
              </div>
            </div>
          </div>

        <%# </br>
        </br>
          <div id="taskmoney" class="text-center">
            <h3 id="euroIcon"><i class="fas fa-euro-sign fa-3x"></i></h3>
            <div>
              <h1 data-tracker-target="billingButton" class="display-3">
                <%= @task.amount_to_bill %>
              <%# </h1>
            </div>
          </div> %>

      </div>

    </div>

  </div>

</div>
