<a href="/projects/<%= @task.project_id %>"> <- Back to Project</a>
<div class="container-fluid d-flex justify-content-center">

  <div data-controller="tracker" data-tracker-task-id-value="<%= @task.id %>"
    data-tracker-time-log-value="<%= @task.time_log %>"
    data-tracker-authenticity-token-value="<%= form_authenticity_token %>"
    data-tracker-amount-to-bill-value="<%= @task.amount_to_bill %>"
    data-tracker-billing-rate-value="<%= @task.billing_rate %>"
  >

    <div class="row my-5">

      <div class="col-sm-12 text-center mb-5">
        <h1><%= @task.title.capitalize %></h1>
        <%# <h2>Description: <%= @task.description</h2> %>
        </br>
        <h3>Billing Rate: €<%= @task.billing_rate %> per hour</h3>
          <p class="d-none" data-tracker-target="billing">Amount to Bill: €<%= @task.amount_to_bill %></p>
      </div>

      <div class="col-sm-6 text-center">
        <h3 id="stopWatchIcon"><i class="fas fa-stopwatch fa-3x"></i></h3>
        <div>
          <h1 id="timer" data-tracker-target="time" class="display-3">
            <%= @task.time_log %>
          </h1>
          <div id="controls">
            <%# <button class="btn btn-light" id="toggle" data-action="click->tracker#toggle" data-tracker-target="button">
              START
            </button> %>
          </div>
        </div>
      </div>

      <div class="col-sm-6 text-center">
        <h3 id="euroIcon"><i class="fas fa-euro-sign fa-3x"></i></h3>
        <div>
          <h1 data-tracker-target="billingButton" class="display-3">
            <%= @task.amount_to_bill %>
          </h1>
        </div>
      </div>

      <div class="col-sm-12 text-center">
        <button class="btn btn-light" id="toggle" data-action="click->tracker#toggle" data-tracker-target="button">
          START
        </button>
      </div>


    </div>

  </div>

</div>
