<h1>Single Client view page</h1>
  <h2><%= @company_name %></h2>
    <p><%= @first_name %></p>
    <p><%= @last_name %></p>
    <p><%= @email %></p>
    <p><%= @phone_number %></p>
    <p><%= @billing_address %></p>
    <p><%= @user_id %></p>
    <p><%= @created_at %></p>
    <p><%= @updated_at %></p>
