<h1>Single Client view page</h1>
  <h2><%= @company_name %></h2>
    <p><%= @first_name %></p>
    <p><%= @last_name %></p>
    <p><%= @email %></p>
    <p><%= @phone_number %></p>
    <p><%= @billing_address %></p>
    <p><%= @user_id %></p>
    <p><%= @created_at %></p>
    <p><%= @updated_at %></p>


<div style="border: 1px solid black; padding: 10px;">
<h2> Clients:</h2>
  <% if @task.nil? %>
    <p>No client</p>
    <% else %>
      <ul>
    <%@project.task.each do |task| %>
      <li><h2><%= @company_name %></h2><%= client.first_name %><%= client.last_name %></li>
    <% end %>
    </ul>
  <% end %>
</div>

