
    
          <%= simple_form_for @client do |f| %>
            <%= f.input :first_name %>
            <%= f.input :last_name %>
            <%= f.input :email %>
            <%= f.input :phone_number %>
            <%= f.input :billing_address %>
            <%= f.submit class: "btn btn-success background-color: white" %>
          <% end %>
          </div>
