<div class="row">
  <div class="rounded p-1 w-100">
    <%= simple_form_for @client do |f| %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.input :phone_number %>
      <%= f.input :billing_address %>
      <%= f.submit class: 'btn btn-info' %>
    <% end %>
  </div>
</div>
