<div class="container-fluid">

  <%= render 'newclient'%>

  <div class="row">

    <%= render 'shared/sidebarshowpages'%>

    <main class="mt-4 ms-sm-auto col-lg-11 px-md-4 bg-our-dark-grey"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>

      <div class="d-flex justify-content-between">
        <h1>Your clients</h1>

        <div>
          <button type="button" class="btn btn-outline-light create-client-link zoom" data-bs-toggle="modal" data-bs-target="#addPopUp" >
          <i class="fa-solid fa-plus fa-lg"></i>&nbsp
          <i class="fa-solid fa-user-group fa-lg"></i>
          </button>
        </div>
      </div>

        <div style=" width: 70%; background-color: #cad3c887; padding: 1px; border-radius: 10px;">
          <table class="table table-hover table-dark" id="all-tables">
            <thead>
              <tr>
                <th id="left-angle" scope="col">COMPANY NAME</th>
                <th scope="col">CLIENT NAME</th>
                <th scope="col">EMAIL</th>
                <%# <th scope="col">BILLING ADDRESS</th>
                <th id="right-angle" scope="col">PHONE NUMBER</th> %>
              </tr>
              </thead>

            <tbody>
            <% @clients.each do |client| %>
              <tr>
                  <td id="bottom-left"><%= link_to client.company_name, client_path(client) %></td>
                  <td><%= client.first_name %> <%= client.last_name %></td>
                  <td><%= client.email %></td>
                  <%# <td><%= client.billing_address</td> %>
                  <%# <td><%= client.phone_number</td> %>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>

    </main>

  </div>
</div>
