<div class="container-fluid">
<%# <a href="/dashboard"> <- Back to Dashboard</a> %>
  <div class="row">
    <%= render 'shared/sidebarshowpages'%>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-0 pb-2 mb-3 border-bottom">
        <h1 class="h2"><%= @client.company_name %> </h1>
        <div>
          <div class="btn-toolbar mb-2 mb-md-0 d-flex justify-content-end">
            <div class="btn-group me-2">
              <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#newProjectPopUp"> <i class="fa-solid fa-plus fa-lg" style="color: #c7c7c7;"></i>&nbsp&nbspProject</button>
              <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#editPopUp">Edit</button>

              <%= link_to  'Delete', client_path(@client),  data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this client?' }, :class => "btn btn-outline-secondary" %>
            </div>
          </div>
        </div>
      </div>

      <div class="container border-bottom d-flex justify-content-between">
        <div class="col-3">
            <img src="<%= @client.image_url %>" alt="Client Profile Photo" style="height: 150px;">
        </div>

        <div class="col-9 ps-3">
          <p style="font-size: 24px;"><%= @client.first_name %> <%= @client.last_name %></p>
          <p><%= @client.email %></p>
          <p><%= @client.phone_number %></p>
          <p><%= @client.billing_address %></p>
        </div>

      </div>
      <div class="col-md-12" style="margin-top: 20px;">
        <% unless @client.projects.empty? %>
          <div style="background-color: #cad3c887; padding: 1px; border-radius: 10px;">
            <table class="table table-hover table-dark" id="all-tables">
              <thead>
                <tr>
                  <th id="left-angle" scope="col">PROJECT NAME</th>
                  <th scope="col">DEADLINE</th>
                  <th scope="col">TOTAL TIME SPENT</th>
                  <th id="right-angle" scope="col">AMOUNT TO BILL</th>
                </tr>
              </thead>

              <tbody>
                <% @projects.each do |project| %>
                  <tr>
                    <td><%= link_to project.name, project_path(project) %></td>
                    <td><%= project.deadline.strftime("%a, %d %b %Y") %></td>

                    <% if project.total_amount_time.nil? %>
                      <td>00:00:00</td>
                    <% else %>
                      <td><%= Time.at(project.total_amount_time/1000).utc.strftime("%H:%M:%S") %></td>
                    <% end %>

                    <% if project.total_amount_bill.nil? %>
                      <td>€0</td>
                    <% else %>
                      <td>€<%= project.total_amount_bill.round(2) %></td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>

    </main>
  </div>


  <div class="modal fade" id="newProjectPopUp" tabindex="-1" aria-labelledby="newProjectPopUpLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">New Project</h1>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="rounded p-1 w-100">
              <%= simple_form_for [@client, @project] do |f| %>
              <%= f.input :name %>
              <%= f.input :deadline, as: :string,
                wrapper_html: { class: "mb-4" },
                label_html: { class: "form-label text-secondary fw-bold" },
                input_html: { data: { controller: "flatpickr" } } %>
              <%= f.submit class: 'btn btn-outline-secondary' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="editPopUp" tabindex="-1" aria-labelledby="editPopUpLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Client</h1>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="rounded p-1 w-100">
           <%= simple_form_for @client do |f| %>
              <%= f.input :first_name %>
              <%= f.input :last_name %>
              <%= f.input :email %>
              <%= f.input :phone_number %>
              <%= f.input :billing_address %>
              <%= f.submit class: "btn btn-outline-secondary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
