<table class="table mb-2 mt-2 table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Company Name</th>
      <th scope="col">Client's Name</th>
      <th scope="col">Email</th>
      <th scope="col">Billing Address</th>
      <th scope="col">Phone Number</th>
    </tr>
    </thead>

  <tbody>
  <% clients.each do |client| %>
    <tr>
        <td><%= client.company_name %></td>
        <%# <td><%= link_to client.first_name, client_path(client) %>
        <td><%= link_to client.first_name, client_path(client) %> <%= link_to client.last_name, client_path(client)%></td>
        <td><%= client.email %></td>

        <td><%= client.billing_address %></td>
        <td><%= client.phone_number %></td>
    </tr>
  <% end %>
  </tbody>
</table>
