<div style="background-color: #cad3c887; padding: 1px; border-radius: 10px;">
  <table class="table table-hover table-dark" id="all-tables">
    <thead>
      <tr>
        <th id="left-angle" scope="col">COMPANY NAME</th>
        <th scope="col">CLIENT NAME</th>
        <th scope="col">EMAIL</th>
        <th scope="col">BILLING ADDRESS</th>
        <th id="right-angle" scope="col">Phone Number</th>
      </tr>
      </thead>

    <tbody>
    <% clients.each do |client| %>
      <tr>
          <td id="bottom-left"><%= link_to client.company_name, client_path(client) %></td>
          <td><%= client.first_name %> <%= client.last_name %></td>
          <td><%= client.email %></td>
          <td><%= client.billing_address %></td>
          <td><%= client.phone_number %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
