<div style="background-color: #cad3c887; padding: 1px; border-radius: 10px;">
  <table class="table table-hover table-dark" id="all-tables">
    <thead>
      <tr>
        <th id="left-angle" scope="col">INVOICES ID</th>
        <th scope="col">COMPANY CLIENT</th>
        <th scope="col">PROJECT</th>
        <th scope="col">PAYMENT DEADLINE</th>
        <th scope="col">BILLING AMOUNT</th>
        <th id="right-angle" scope="col">PDF</th>
      </tr>
    </thead>

    <tbody>
      <% @my_invoices.each do |invoice| %>

        <tr>
          <td><%= link_to invoice.invoice_number, invoice_path(invoice) %></td>
          <td><%= invoice.project.client.company_name %></td>
          <td><%= invoice.project.name %></td>
          <td><%= invoice.payment_deadline.strftime("%a, %d %b %Y")%></td>
          <td>€<%= invoice.billing_amount %></td>
          <td><%= link_to "Create PDF", invoice_path(invoice, format: :pdf) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
