<div style="background-color: #cad3c887; padding: 1px; border-radius: 10px;">
  <table class="table table-hover table-dark" id="all-tables">
    <thead>
      <tr>
        <th scope="col">PROJECT NAME</th>
        <th scope="col">DEADLINE</th>
        <th scope="col">COMPANY NAME</th>
        <th data-sorter="datesSorter" scope="col">TOTAL TIME SPENT</th>
        <th scope="col">AMOUNT TO BILL</th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= link_to project.name, project_path(project) %></td>
          <% if project.deadline.nil? %>
            <td><%= project.deadline %></td>
          <% else %>
            <td><%= project.deadline.strftime("%a, %d %b %Y") %></td>
          <% end %>
          <td><%= project.client.company_name %></td>

          <% if project.total_amount_time.nil? %>
            <td>00:00:00</td>
          <% else %>
            <td><%= Time.at(project.total_amount_time/1000).utc.strftime("%H:%M:%S") %></td>
          <% end %>

          <% if project.total_amount_bill.nil? %>
            <td>€0</td>
          <% else %>
            <td>€<%= project.total_amount_bill.round(2) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
