<div class="container-fluid">
  <div class="modal fade" id="addPopUp" tabindex="-1" aria-labelledby="addPopUpLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Client</h1>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="rounded p-1 w-100">
            <%= simple_form_for @client do |f| %>
                <%= f.input :first_name %>
                <%= f.input :last_name %>
                <%= f.input :company_name %>
                <%= f.input :email %>
                <%= f.input :phone_number %>
                <%= f.input :billing_address %>
                <%= f.submit class: "btn btn-outline-secondary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <%= render 'shared/sidebarshowpages'%>


    <main class="ms-sm-auto col-lg-11 px-md-4 bg-our-dark-grey"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>

      <div class="tab-content" id="tabContent">

        <div class="tab-pane show <%="active" unless params.has_key?(:tab)%>" id="home" role="tabpanel" aria-labelledby="home-tab">

            <div class="container">
              <div class="row">
                  <div class="col-md-4">
                    <h3 class="text-center">Invoicing per month</h3>
                      <div class="chart-card-display bg-chart order-card">
                          <div class="chart">
                              <div>
                              <%= area_chart Invoice.group_by_month(:payment_deadline).count, colors: ["#EAB543", "#EAB543"] %>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-4">
                  <h3 class="text-center">Tasks per month</h3>
                      <div class="chart-card-display bg-chart order-card">
                          <div class="chart">
                            <div>
                              <%= area_chart Task.group_by_month(:created_at).count, library: {color: "#FFFFFF"} %>
                            </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-4">
                  <div class = "row">
                    <h3 class="text-center">Tasks by day of week</h3>
                  </div>
                      <div class="chart-card-display bg-chart order-card">
                          <div class="chart">
                              <div>
                              <%= column_chart Task.group_by_day_of_week(:created_at, format: "%a").count, colors: ["#B33771", "#B33771"] %>
                              </div>
                          </div>
                      </div>
              </div>
              <div class="col">
                <div class="row mt-4">
                   <div class="col-sm-6">
                      <div class="dashboard-card"
                      id="summary-money-billed"
                      style="background-color: rgba(137, 128, 233, 0.2); border-color: rgba(137, 128, 233, 1);">
                        <h2>Total Billed: €<%= @total_billing_amount.round(0) %></h2>
                        <h2>Payment Received: €<%= (@total_billing_amount.round(0) * 0.9).round(0) %></h2>
                        <h2>Payments Outstanding: €<%= (@total_billing_amount.round(0) * 0.1).round(0) %></h2>
                      </div>
                    </div>

                    <div class="summary-card col-sm-6">

                      <div class="dashboard-card"

                      id="summary-money-billed"
                      style="background-color: rgba(137, 128, 233, 0.2); border-color: rgba(137, 128, 233, 1)">
                        <h2>Invoices Sent: <%= @invoices_sent %></h2>
                        <h2>Invoices Paid: <%= (@invoices_sent * 0.8).round(0) %></h2>
                        <h2>Invoices Outsanding: <%= (@invoices_sent * 0.2).round(0) %></h2>
                      <% unless @invoice.nil? %>
                        <h2>Unpaid Invoices: <%= @invoices_sent - @invoices_paid %></h2>
                      <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-4">
                    <div class="col">
                      <div class="dashboard-card" id="summary-time-logged text-center"
                      style="background-color: rgba(137, 128, 233, 0.2); border-color: rgba(137, 128, 233, 1);">
                      <h2>Total Time Logged: <%= Time.at(@total_time_logged/1000).utc.strftime("%H:%M:%S") %></h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="tab-pane fade <%="active" if params[:tab] == "customers-tab" %>" id="customers" role="tabpanel" aria-labelledby="customers-tab">
              <div class="d-flex justify-content-between">
                <h1 class="mb-3">Your Clients</h1>
                <div>
                  <button type="button" class="btn btn-outline-light create-client-link zoom" data-bs-toggle="modal" data-bs-target="#addPopUp" >
                  <i class="fa-solid fa-plus fa-lg" style="color: #8980E9; width: 40px;"></i>
                  <i class="fa-solid fa-user-group fa-lg" style="color: #8980E9;"></i>
                  </button>
                </div>
              </div>
              <%= render 'clients', clients: @clients %>
            </div>

            <div class="tab-pane fade <%="active" if params[:tab] == "projects-tab" %>" id="projects" role="tabpanel" aria-labelledby="projects-tab">
              <h1 class="mb-3">Your Projects</h1>
              <%= render 'projects'%>
            </div>

            <%# <div class="tab-pane fade" id="invoices" role="tabpanel" aria-labelledby="invoices-tab">
              <h1 class="mb-3">Your Invoices</h1>
              <%= link_to invoices_path %>
            <%# </div> %>

      </div>
    </main>
  </div>
</div>
