<div class="container-fluid">
  <div class="modal fade" id="addPopUp" tabindex="-1" aria-labelledby="addPopUpLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Client</h1>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="rounded p-1 w-100">
            <%= simple_form_for @client do |f| %>
                <%= f.input :first_name %>
                <%= f.input :last_name %>
                <%= f.input :company_name %>
                <%= f.input :email %>
                <%= f.input :phone_number %>
                <%= f.input :billing_address %>
                <%= f.submit class: "btn btn-outline-secondary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <%= render 'shared/sidebar'%>


    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 bg-our-dark-grey"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>

      <div class="tab-content" id="tabContent">

        <div class="tab-pane show <%="active" unless params.has_key?(:tab)%>" id="home" role="tabpanel" aria-labelledby="home-tab">

          <h1 class="mb-5 h1">Hi <%= current_user.first_name.capitalize %>!</h1>

      <div class="container">
      <div class="row">
          <div class="col-md-4 col-xl-3">
              <div class="chart-card-display bg-chart order-card">
                  <div class="chart">
                    <div>
                      <%= area_chart Task.group_by_month(:created_at).sum(:amount_to_bill) %>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-md-4 col-xl-3">
              <div class="chart-card-display bg-chart order-card">
                  <div class="chart">
                      <div>
                      <%= bar_chart Task.group_by_quarter(:created_at).sum(:amount_to_bill) %>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-md-4 col-xl-3">
              <div class="chart-card-display bg-chart order-card">
                  <div class="chart">
                      <div>
                         <%= column_chart Task.group_by_day_of_week(:created_at, format: "%a").count %>
                      </div>
                  </div>
              </div>
      </div>
            <div class="container d-flex">

              <div class="col-sm-6">

                <div class="dashboard-card"
                id="summary-money-billed"
                style="background-color: rgba(85, 230, 193, 0.2); border-color: rgba(85, 230, 193, 1);">
                  <h2>Total Billed: €</h2>
                  <h2>Payment Received: €</h2>
                  <h2>Payments Outstanding: €</h2>
                </div>
              </div>

              <div class="summary-card col-sm-6">

                <div class="dashboard-card"
                  id="summary-money-billed"
                  style="background-color: rgba(179,55,113, 0.2); border-color: rgba(179,55,113, 1)">
                  <h2>Invoices Sent: <%= @count_invoices %></h2>
                  <h2>Invoices Paid: <%= @count_invoices %></h2>
                  <% unless @invoice.nil? %>
                  <h2>Unpaid Invoices: <%= @count_invoices - @count_invoices %></h2>
                  <% end %>
                
                </div>
              </div>
            </div>
            <div class="dashboard-card" id="summary-time-logged col-sm-12 text-center"
            style="background-color: rgba(51,102,204, 0.2); border-color: rgba(51,102,204, 1);">
              <h1>Total Time Logged:</h1>
            </div>
          </div>
        </div>
        </div>


        <div class="tab-pane fade <%="active" if params[:tab] == "customers-tab" %>" id="customers" role="tabpanel" aria-labelledby="customers-tab">
          <div class="d-flex justify-content-between">
            <h1 class="mb-4">Your Clients</h1>
            <div>
              <button type="button" class="btn btn-outline-light create-client-link " data-bs-toggle="modal" data-bs-target="#addPopUp" >
              <i class="fa-solid fa-plus fa-lg" style="color: #8980E9;"></i>
              <i class="fa-solid fa-user-group fa-lg" style="color: #8980E9;"></i>
              </button>
            </div>
          </div>
          <%= render 'clients', clients: @clients %>
        </div>

        <div class="tab-pane fade <%="active" if params[:tab] == "projects-tab" %>" id="projects" role="tabpanel" aria-labelledby="projects-tab">
          <h1 class="mb-4">Your Projects</h1>
          <%= render 'projects'%>
        </div>

        <div class="tab-pane fade <%="active" if params[:tab] == "invoices-tab" %>" id="invoices" role="tabpanel" aria-labelledby="invoices-tab">
          <h1 class="mb-4">Your Invoices</h1>
          <%= render 'invoices'%>
        </div>

      </div>
    </main>
  </div>
</div>
