<div class="container-fluid">

  <div class="modal fade" id="addPopUp" tabindex="-1" aria-labelledby="addPopUpLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Client</h1>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="rounded p-1 w-100">
            <%= simple_form_for @client do |f| %>
                <%= f.input :first_name %>
                <%= f.input :last_name %>
                <%= f.input :company_name %>
                <%= f.input :email %>
                <%= f.input :phone_number %>
                <%= f.input :billing_address %>
                <%= f.submit class: "btn btn-outline-secondary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <%= render 'shared/sidebar'%>


    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 bg-our-dark-grey"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>

      <div class="tab-content" id="tabContent">

        <div class="tab-pane show <%="active" unless params.has_key?(:tab)%>" id="home" role="tabpanel" aria-labelledby="home-tab">

          <h1 class="mb-5 h2">Hi <%= current_user.first_name.capitalize %>, welcome to your Dashboard</h1>

          <div id="summary-money-billed">
            <h1>Total Billed: €<%= @total_billing_amount %></h1>
          </div>

          <div class="chart-container d-flex justify-content-around">

            <div class="col-sm-5">
              <div>
                <%= bar_chart Task.group(:title).sum(:amount_to_bill), height: "50vh" %>
              </div>
            </div>

            </br>

            <div class="col-sm-5">
              <div>
                <%= line_chart Task.group_by_day(:created_at).count, height: "50vh" %>
              </div>
            </div>

          </div>

        </div>

        <div class="tab-pane fade <%="active" if params[:tab] == "customers-tab" %>" id="customers" role="tabpanel" aria-labelledby="customers-tab">
          <div class="d-flex justify-content-between">
            <h1 class="mb-4">Your clients</h1>
            <div>
              <button type="button" class="btn btn-outline-secondary create-client-link " data-bs-toggle="modal" data-bs-target="#addPopUp" >
              <i class="fa-solid fa-plus fa-2xl" style="color: #c7c7c7;"></i>
              </button>
            </div>
          </div>
          <%= render 'clients', clients: @clients %>
        </div>

        <div class="tab-pane fade <%="active" if params[:tab] == "projects-tab" %>" id="projects" role="tabpanel" aria-labelledby="projects-tab">
          <h1 class="mb-4">Your Projects</h1>
          <%= render 'projects'%>
        </div>

        <div class="tab-pane fade <%="active" if params[:tab] == "invoices-tab" %>" id="invoices" role="tabpanel" aria-labelledby="invoices-tab">
          <h1 class="mb-4">Your Invoices</h1>
          <%= render 'invoices'%>
        </div>

      </div>
    </main>
  </div>
</div>
