<div class="container marketing">

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h3 class="mt-4">Who are we ?</h3>
        </br>
        <p>
          <strong style="color: #55E6C1;">Time Tracker</strong> offers freelancers a comprehensive solution for <strong style="color: #55E6C1;">managing their working hours efficiently.</strong> </br>
          With a user-friendly interface and intuitive features, this web app enables freelancers to effortlessly <strong style="color: #55E6C1;">track their time spent on various projects</strong>,</br>
          helping them stay organized and accountable.</br>
          </br>
          By logging their working hours accurately, freelancers gain valuable insights into their productivity,</br>
          identify areas for improvement, and make informed decisions to optimize their workflow.</br>
          </br>
        </p>

        <p>
          <strong style="color: #55E6C1;">The automatic invoice generation feature</strong> of Time Tracker is truly a game-changer for freelancers.</br>
          Traditionally, creating invoices manually could be a time-consuming and error-prone task.
          </br>
          </br>
        </p>

        <p>
          However, Time Tracker eliminates these challenges by automating the invoicing process.</br>
          Once freelancers have logged their working hours and set their rates, Time Tracker seamlessly generates professional-looking invoices, saving freelancers significant time and effort.</br>
          This streamlining of invoicing not only enhances efficiency but also enhances freelancers' professionalism, as they can present their clients with polished, accurate invoices promptly.</br>
        </p>
    </div>

      <div class="col-md-5 order-md-1">
         <%= image_tag "illustration2.png", height: 500 %>
      </div>
  </div>

    <hr class="featurette-divider my-4">

    <div class="row featurette mt-4">

      <div class="col-md-7">

        <h3 class="mt-4">Why are we different from other app ?</h3>

        </br>

        <p>
          One of the key highlights of Time Tracker is its ability to <strong style="color: #55E6C1;">accommodate customized rates.</strong></br>
          Each freelancer has unique pricing structures for their services, and Time Tracker recognizes and supports this diversity. Whether it's hourly rates, fixed project fees, or any other billing structure, freelancers can <strong style="color: #55E6C1;">easily configure their rates</strong> within the app.</br>
        </p>

      </div>

      <div class="col-md-5">
        <%= image_tag "illustration3.png", height: 300 %>
      </div>

    </div>

    <hr class="featurette-divider my-4">

    <!-- /END THE FEATURETTES -->


    <!-- Three columns of text below the carousel -->
  <div class="mt-6 row text-center">

    <h3 class="my-4 pb-4">They talk about us :</h3>

    <div class="col-lg-4">
      <%= image_tag "gal.png", class: "bd-placeholder-img rounded-circle mb-2", width: 100, height: 100 %>

      </br>

      <h3 class="py-2" style="font-size:20px">TimeIsMoney</h3>

      <p style="font-size:12px">
        "I've tried several time tracking apps, </br>
        but Time Tracker takes the crown. The ability to customize </br>
        rates and generate professional invoices with just a few clicks </br>
        has made my freelance life so much easier."</br>
      </p>

    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <%= image_tag "brad.png", class: "bd-placeholder-img rounded-circle mb-2", width: 100, height: 100 %>

      </br>

      <h3 class="py-2" style="font-size:20px">FrelancerGuru</h3>

      <p style="font-size:12px">
        "Time Tracker has been a lifesaver for me !</br>
        It's incredibly user-friendly and helps me stay on top</br>
        of my working hours effortlessly.</br>
        The automatic invoice generation feature is a game-changer!"</br>
      </p>

    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <%= image_tag "thomas.png", class: "bd-placeholder-img rounded-circle mb-2", width: 100, height: 100 %>

      </br>

      <h3 class="py-2" style="font-size:20px">WorkSmart</h3>

      <p style="font-size:12px">
        "Time Tracker has streamlined my invoicing process completely. </br>
        The ability to set customized rates for each project</br>
        saves me time and ensures accurate billing. </br>
        It's a reliable companion for any freelancer on the go !"</br>
        </p>

    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

</div>
