<div class="container-fluid">
  <a href="/clients/<%= @client.id %>"> <- Back to Client</a>
  <div class="row">

    <%= render 'shared/sidebarshowpages'%>


    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div>
          <h1 class="h2" style="margin-bottom: 20px;"><%= @project.name %></h1>
          <h4><%= @client.first_name  %> <%= @client.last_name %></h4>
          <h6>Total time: <%= @project.time_counter %> hours</h6>
          <h6>Deadline: <%= @project.deadline %> </h6>
        </div>
        <div>
          <div class="btn-toolbar mb-2 mb-md-0 d-flex justify-content-end">
            <div class="btn-group me-2">
              <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#newTaskPopUp">Add task</button>
                <%= link_to "Invoice", invoice_path(@latest_invoice), :class => "btn btn-outline-secondary" %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <% unless @tasks.first.nil? %>
          <% @project.tasks.each do |task| %>
            <div class="col-3">
              <div>

                <%= link_to task_path(task) do %>

                  <div class="card-project-task p-3">
                    <p class="text-center pb-5"><strong><%= task.title.capitalize %></strong></>

                    <p class="text-left d-none"><%= task.description.capitalize %></p>
                    <p class="text-left">Hourly Rate: €<%= task.billing_rate.round(0) %></p>
                    <p class="text-left"><i class="fas fa-stopwatch fa-2x me-1"></i> <%= task.time_log %></p>
                    <p class="text-left"><i class="fas fa-euro-sign fa-2x me-3"></i>
                        <%= task.amount_to_bill ? task.amount_to_bill.round(2) : "0.00" %>
                    </p>

                <% end %>

                    <div data-controller="checkbox"
                      data-checkbox-task-completed-value="<%= task.completed %>"
                      data-checkbox-task-id-value="<%= task.id %>"
                    >
                      <div class="form-check mt-3 text-light">
                        <input id="checkbox-completed" type="checkbox" class="form-check-input" data-checkbox-target="checkbox" data-action="change->checkbox#toggle">
                        <label for="checkbox-completed">Mark as completed</label>
                      </div>
                      </div>
                  </div>

              </div>
            </div>
          <% end %>
        <% end %>
      </div>

    </main>

</div>


<div class="modal fade" id="newTaskPopUp" tabindex="-1" aria-labelledby="newTaskPopUpLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New Task</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <%= simple_form_for [@project, @task] do |f| %>
          <%= f.input :title %>
          <%= f.input :description %>
          <%= f.input :billing_rate %>
          <%= f.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
